                    {% csrf_token %}
{{ form.as_p }}
<div class="container">
<div class="mb-3">
  <label for="user" class="form-label">User name</label>
  <input type="text" class="form-control form-control-lg" id="user" name="user" placeholder="John Doe">
</div>
<div class="mb-3">
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="johndoe@example.com">
</div>
<div class="mb-3">
  <label for="text" class="form-label">Text</label>
  <textarea class="form-control" id="text" name="text" rows="3"></textarea>
</div>
      <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Add text</button>
  </div>
</div>
